{
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "insertPragma": false,
  "endOfLine": "crlf",
  "semi": true,
  "singleQuote": false,
  "requirePragma": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve"
}
