.user-form {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.divider {
  height: 20px;
}

.account-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.account-card {
  width: 25%;
  height: auto;
  border-radius: 3%;
  position: absolute;
  padding: 10px;
}

#account-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.account-link {
  display:flex;
  justify-content: center;
}

#modal-img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.navbar-label {
  font-size: 12px;
}

#navbar-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.movie-list {
  display: flex;
  justify-content: ''space-between'';
  margin-top: 10px;
}