.user-form {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.page-container {
  padding: 50px;
}

.divider {
  height: 20px;
}

.text-link:hover {
  cursor: pointer;
}

.page-body {
  margin-top: 15%;
}

/* NavBar styling */

.navbar-container {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar {
}

.navbar-label {
  font-size: 12px;
  flex: 1;
}

#navbar-img {
  border-radius: 10%;
  width: 10%;
  height: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.navbar-tab {
  width: 20%;
}

/* Account Modal styling */

.account-modal {
  display: flex;
  flex-direction: column;
}

.account-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  border-radius: 3%;
  position: absolute;
  padding: 10px;
}

.account-modal-close-button {
  float: right;
}

#account-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

#modal-img {
  border-radius: 10%;
  width: 20%;
  height: 20%;
}

.navbar-label {
  font-size: 12px;
}

#navbar-img {
  /* border-radius: 10%; */
  width: 80%;
  height: 80%;
  /* margin-left: 15%;
  margin-right: 15%; */
}

.movie-list {
  display: flex;
  justify-content: center;
}

/* Account Drawer Styling */

#account-drawer-pic {
  padding-top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Movie List Styling */

.movie-list {
  display: flex;
  justify-content: "" space-between "";
  margin-top: 10px;
}
