@import url("https://fonts.googleapis.com/css?family=Bangers|Khand");

.user-form {
  display: flex;
  flex-direction: column;
  width: 375px;
  text-align: center;
}

.page-container {
  padding: 50px;
}

.divider {
  height: 20px;
}

.text-link:hover {
  cursor: pointer;
}

.page-body {
  margin-top: 5%;
}

/* NavBar styling */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#navbar-img {
  min-width: 100px;
  width: 50%;
  height: 50%;
  padding-top: 25px;
  margin: -25px;
  margin-top: -50px;
  z-index: 100;
}

#navbar-small-img {
  min-width: 45px;
  width: 15%;
  height: 15%;
  margin-top: -15px;
  z-index: 1;
}

/* Account Modal styling */
.account-modal {
  display: flex;
  flex-direction: column;
}

.account-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  border-radius: 3%;
  position: absolute;
  padding: 10px;
}

.account-modal-close-button {
  float: right;
}

.account-link {
  text-align: center;
}

#account-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

#modal-img {
  border-radius: 10%;
  width: 20%;
  height: 20%;
}

.movie-list {
  display: flex;
  justify-content: center;
}

/* Account Drawer Styling */

#account-drawer-pic {
  padding-top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Movie List Styling */

.movie-list {
  display: flex;
  justify-content: "" space-between "";
  margin-top: 10px;
}

.recommendation-section-header {
  display: flex;
  flex-direction: row;
}
